/*Todo o conteúdo usará a fonte Montserrat importada*/
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;      
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;        
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 950px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;   
}

.produtos li:hover {
    border-color: #C78C19;    
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: #000000;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}

.main {
    /*Para fazer o degrade, precisaremos remover essas caracteristicas e colocar em cada 
    elemento da página*/
    /*width: 940px;
    margin: 0 auto;*/
}

form {
    margin: 40px 0;
}

form label, form legend { 
    display: block;
    font-size: 20px;
    margin:0 0 10px;
}

.input-padrao {
    display:block;
    margin:0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


/*CSS da página inicial - home*/
.banner {
    /*100% da largura da pagina*/
    width: 100%;
}

/*Alterando título da página*/
.titulo-principal {
    /*Alinhado no centro*/
    text-align: center;
    /*Mudando fonte, o dobro do padrão. 2em são 2x o tamanho base*/
    font-size: 2em;
    /*Espaçamento externo proporcional ao tamanho da fonte para baixo*/
    margin: 0 0 1em;
    /*Limpando o float para que ele não afete a pagina. Como ele sera usado ao lado esquerdo da mensagem, limpamos a esquerda.*/
    clear: left;
    /*Cor do titulo em rgb. Usamos rgba para adicionar opacidade, com 30% da cor*/
    /*color: rgba(0,0,0,0.3);*/
    /*Sombra em textos. 2px em X, 2px em Y e na cor vermelha*/
    /*text-shadow: 2px 2px red;*/
}

/*Utilizando pseudo-elemento para mexer em letras específicos do título
First-letter (primeiro letra), etc conforme pseudo elemento de itens*/
/*.titulo-principal::first-letter {
    /*Colocando primeiro letra em negrito*/
    /*font-weight: bold;
}

/*Pseudo elemento para mexer antes do elemento titulo-principal*/
/*.titulo-principal:before {
    /*Conteudo de exibição, ou seja, não é possivel manipula-lo, seleciona-lo com o mouse, etc.*/
    /*content: "[ ";
}

/*Pseudo elemento para mexer depois do elemento titulo-principal*/
/*.titulo-principal:after {
    /*Conteudo de exibição, ou seja, não é possivel manipula-lo, seleciona-lo com o mouse, etc*/
    /*content: " ]";
}

/*Pseudo-elementos para alterar a primeira linha de todos os paragrafos*/
/*p::first-line {
    font-style: italic;
}*/

/*Colocando estilo na pagina principal*/
.principal {
    /*Espaçamento interno de 3em para cima e para baixo e 0 para os lados*/
    padding: 3em 0;;
    /*Alternaod cor de fundo*/
    background: #FEFEFE;
    /*Inserindo valores da main para o degrade*/
    width: 940px;
    margin: 0 auto;
}

/*Paragrafos da classe principal*/
.principal p {
    /*Espaçamento externo proporcional ao tamanho da fonte para baixo*/
    margin: 0 0 1em;
}

/*Texto mais forte da classe principal*/
.principal strong {
    /*Deixando o texto em Negrito*/
    font-weight: bold;
}

/*Todas as vezes que tivermos a tag 'em'*/
.principal em {
    /*Deixando em itálico*/
    font-style: italic;
}

/*Alterando imagem de utensilios*/
.utensilios {
    /*Alterando largura*/
    width: 120px;
    /*Colocando o float ao lado esquerdo do texto*/
    float: left;
    /*espaçamento externo para direita e para baixo*/
    margin: 0 20px 20px 0;
}

/*Adicionando estilo para a section com o mapa*/
.mapa {
    /*Espaçamento interno de 3em para cima e para baixo*/
    padding: 3em 0; 
    /*Adicionando cor de fundo usando gradiente. Com o gradiente, fazemos uma transição linear ou radial
    com as cores passadas por parametro (Podem ser varias cores), causando o efeito do degrade.
    Também posso colocar a inclinação da transição. Exemplo, colocar 45deg, 90deg, na frente das cores.
    Também posso definir o quanto cada cor ocupa dentro do degrade colocando 80% na frente do cinza por exemplo*/
    background: linear-gradient(#FEFEFE, #888888);   
}

/*Divisão para o mapa*/
.mapa-conteudo {
    /*Inserindo valores da main para o degrade*/
    width: 940px;
    margin: 0 auto;   
}

/*Estilo para o paragrafo da section com o mapa*/
.mapa p {
    /*Espaçamento exerto de 2em para baixo*/
    margin: 0 0 2em;
    /*Centralizando texto*/
    text-align: center;
}

/*Section beneficios*/
.beneficios {
    /*ESpaçamento interno de 3em para cima e para baixo*/
    padding: 3em 0;
    /*Alterando cor de fundo*/
    background: #888888;
    /*Criando sombra interna. Usamos inset*/
    /*box-shadow: inset 0 0  30px #FF0000;*/
}

/*Estilo para a div de beneficios*/
.conteudo-beneficios {
    /*Largura*/
    width: 640px;
    /*Espaçamento automatico externo para os lados*/
    margin: 0 auto;
}


/*Estilo para lista de beneficios*/
.lista-beneficios {
    /*Largura*/
    width: 40%;
    /*Alterando display para deixar os elementos um embaixo do outro sem ocupar 100% da pagina*/
    display: inline-block;
    /*Alinhando com a parte de cima*/
    vertical-align: top;
}

/*EStilo para os itens de beneficios*/
.itens {
    /*Modificando altura da linha em relação ao tamanho da fonte (50% a mais do tamanho da fonte)*/
    line-height: 1.5;
}

/*Pseudo-elemento de itens. Para pegar apenas o primeiro item por exemplo
First-child (primeiro elemento), last-child (ultimo elemento), nth-child(numero) (Encontra o elemento na posição 'numero')
no nth eu consigo pegar todos os elementos pares (2n) e impares (2n+1)*/
.itens:first-child {
    /*Colocando em negrito*/
    font-weight: bold;
}

/*Adicionando estrela usando UNICODE na frente de cada item*/
.itens::before {
    /*Conteudo de exibição, ou seja, não é possivel manipula-lo, seleciona-lo com o mouse, etc
    http://xahlee.info/comp/unicode_stars.html.
    Apenas copiando e colando a estrela*/
    content: "★";
}

/*Alterando imagem dos beneficios*/
.imagem-beneficios {
    /*Alterando largura*/
    width: 60%;
    /*Adicionando opacidade, vai de 1 a 0.*/
    opacity: 1;
    /*Podemos tambem usar o transition para retardar um pouco esse efeito. 400ms*/
    transition: 400ms;
    /*Adicionando uma sombra no elemento. Ela tem propriedade do eixo X, eixo Y, grau de espalhamento da sombra, intensidade da borda e da cor, respectivamente
    5px em X, 10px em Y, 5px espalhados (transparente), 20px de borda e cor preta
    Podemos adicionar varias sombras colocando uma virgula depois da cor*/
    box-shadow: 10px 10px 10px 0 #000000;
}

/*Quando o mouse estiver por cima da imagem, eu consigo ver 70% dela e quando não, 100%*/
.imagem-beneficios:hover {
    /*Adicionando opacidade, vai de 1 a 0. Só exibiremos 70% da imagem*/
    opacity: 0.7;
}


/*Centralizando video*/
.video {
    /*Largura*/
    width: 568px;
    /*ESpaçamento externo 2em para cima e para baixo e automatico para os lados*/
    margin: 2em auto
}

/*Pegando o paragrafo filho do exemplo de seleção avançada após a main*/
/*main > p {
    /*Estamos mudando a cor do primeiro elemento filho da main*/
    /*background: red;
}

/*Pegando o elemento irmao da imagem com o paragrafo utilizando seleção avançada*/
/*img + p {
    /*Alterando cor do elemento p depois da imagem*/
    /*background: blue;
}

/*Pegando todos os elementos irmaos da imagem com o paragrafo utilizando seleção avançada*/
/*img ~ p {
    /*Alterando cor dos elementos p's depois da imagem*/
    /*background: yellow;
}

/*Pegando os elementos irmaos da imagem com o paragrafo utilizando seleção avançada que não são id="paragrafo-2*/
/*.principal p:not(#paragrafo-2) {
    /*Alterando cor dos elementos p's que não tem id="paragrafo-2*/
    /*background: orange;
}

/*Adicionando midia query para as telas de celular
Para todas as telas de até 480px (largura maxima) será entregado algumas coisas diferentes*/
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}